127.0.0.1       localhost
127.0.1.1       {{ hostname }}
192.168.44.138  elasticsearch-master-01
192.168.44.139  elasticsearch-node-01
192.168.44.140  elasticsearch-node-02

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters